In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("https://raw.githubusercontent.com/RichardRuitaoZhang/Heart-Disease-Dataset/master/heart.csv")

In [5]:
df

,Age,Sex,Degree of Chest Pain,Rest blood Pressure,Cholesterol,Fasting Plasma Glucose(More than 120mg/dl),Resting Electrocardiographic Results,Max Heart Rate,Exercise Induced Angina,ST depression induced by exercise relative to rest,the Slope of the Peak,Number of Major Vessels,Type of Heart Defect,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
df.columns

Index(['Age', 'Sex', 'Degree of Chest Pain', 'Rest blood Pressure',
       'Cholesterol', 'Fasting Plasma Glucose(More than 120mg/dl)',
       'Resting Electrocardiographic Results', 'Max Heart Rate',
       'Exercise Induced Angina',
       'ST depression induced by exercise relative to rest',
       'the Slope of the Peak', 'Number of Major Vessels',
       'Type of Heart Defect', 'target'],
      dtype='object')

In [7]:
# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

In [8]:
df=df.rename(columns={'Degree of Chest Pain':'Cp',
                     'Rest blood Pressure':'bp',
                    'Fasting Plasma Glucose(More than 120mg/dl)':'FPG',
                    'Resting Electrocardiographic Results':'RER',
                     'ST depression induced by exercise relative to rest':'SdI',
                     'the Slope of the Peak':'sp',
                     'Number of Major Vessels':'nmv',
                     'Type of Heart Defect':'thd'})

In [9]:
df

,Age,Sex,Cp,bp,Cholesterol,FPG,RER,Max Heart Rate,Exercise Induced Angina,SdI,sp,nmv,thd,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:-1],df.iloc[:,-1],test_size=0.2,random_state=2)

In [17]:
X_train.shape

(242, 13)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [19]:
model_1=LogisticRegression()

In [20]:
model_2=DecisionTreeClassifier()

In [21]:
model_1.fit(X_train,y_train)

c:\users\hira\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
model_2.fit(X_train,y_train)

DecisionTreeClassifier()

In [23]:
y_pred1=model_1.predict(X_test)

In [24]:
y_pred2=model_2.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
from sklearn.metrics import f1_score

In [28]:
print("logisticRegression :",f1_score(y_test,y_pred1))

logisticRegression : 0.90625

In [29]:
print("DecisionTree:",f1_score(y_test,y_pred2))

DecisionTree: 0.8709677419354839

In [30]:
print("accuracy score logisticRegression :",accuracy_score(y_test,y_pred1))

accuracy score logisticRegression : 0.9016393442622951

In [37]:
print("accuracy score decisiontree :",accuracy_score(y_test,y_pred2))

accuracy score decisiontree : 0.8688524590163934

In [38]:
print("Logistic Regression Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,2)))

Logistic Regression Confusion Matrix

    0   1
0  26   6
1   0  29

In [39]:
print("Logistic Regression Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,2)))

Logistic Regression Confusion Matrix

    0   1
0  26   6
1   2  27

In [40]:
result=pd.DataFrame()

In [42]:
result['Accual label']=y_test
result['LogisticRegreesion']=y_pred1
result['DecisionTreeClassifier']=y_pred2

In [43]:
result

     Accual label  LogisticRegreesion  DecisionTreeClassifier
99              1                   1                       1
296             0                   1                       0
89              1                   1                       1
30              1                   1                       1
234             0                   0                       0
..            ...                 ...                     ...
173             0                   0                       1
94              1                   1                       1
161             1                   1                       1
216             0                   1                       1
91              1                   1                       1

[61 rows x 3 columns]

In [44]:
# print("For Logistic regression Model")
# print("-"*50)
# cdf = pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,2)))
# print(cdf)
# print("-"*50)
# print("Precision - ",precision_score(y_test,y_pred1))
# print("Recall - ",recall_score(y_test,y_pred1))
# print("F1 score - ",f1_score(y_test,y_pred1))

In [46]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [48]:
print("True positive score  precision logistic-:",precision_score(y_test,y_pred1))
print("True nagative score recall logistic -:",recall_score(y_test,y_pred1))

True positive score  precision logistic-: 0.8285714285714286
False nagative score recall logistic -: 1.0

In [49]:
print("True positive score precision decision-:",precision_score(y_test,y_pred2))
print("true nagative score recll decision-",recall_score(y_test,y_pred2))

True positive score precision decision-: 0.8181818181818182
true nagative score recll decision- 0.9310344827586207