In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv")

In [3]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train,X_test,y_train,y_test=train_test_split(data.iloc[:,0:-1],data.iloc[:,-1],test_size=0.2,random_state=2)

In [6]:
from sklearn.linear_model import LogisticRegression

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
model_1=LogisticRegression()
model_2=DecisionTreeClassifier()

In [9]:
model_1.fit(X_train,y_train)
model_2.fit(X_train,y_train)

DecisionTreeClassifier()

In [10]:
y_pred1=model_1.predict(X_test)

In [11]:
y_pred2=model_2.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [13]:
print("this is logistical accuracy :",accuracy_score(y_test,y_pred1))
print("This is DecisionTree accuracy:",accuracy_score(y_test,y_pred2))

this is logistical accuracy : 0.9666666666666667
This is DecisionTree accuracy: 0.9333333333333333

In [14]:
print("logisticRegression confusion metrix\n:")
pd.DataFrame(confusion_matrix(y_test,y_pred1))

logisticRegression confusion metrix
:

    0  1  2
0  14  0  0
1   0  7  1
2   0  0  8

In [15]:
print("DecisionTree confusion metrix \n:")
pd.DataFrame(confusion_matrix(y_test,y_pred2))

DecisionTree confusion metrix
:

    0  1  2
0  14  0  0
1   0  7  1
2   0  1  7

In [16]:
result=pd.DataFrame()
result['accual label']=y_test
result['Logistic test']=y_pred1
result['DecisionTree test']=y_pred2

In [17]:
result

    accual label Logistic test DecisionTree test
6         setosa        setosa            setosa
3         setosa        setosa            setosa
113    virginica     virginica         virginica
12        setosa        setosa            setosa
24        setosa        setosa            setosa
129    virginica     virginica        versicolor
25        setosa        setosa            setosa
108    virginica     virginica         virginica
128    virginica     virginica         virginica
45        setosa        setosa            setosa
48        setosa        setosa            setosa
42        setosa        setosa            setosa
35        setosa        setosa            setosa
5         setosa        setosa            setosa
85    versicolor    versicolor        versicolor
54    versicolor    versicolor        versicolor
41        setosa        setosa            setosa
96    versicolor    versicolor        versicolor
144    virginica     virginica         virginica
89    versicolor    versicolor        versicolor
77    versicolor     virginica         virginica
74    versicolor    versicolor        versicolor
115    virginica     virginica         virginica
94    versicolor    versicolor        versicolor
87    versicolor    versicolor        versicolor
29        setosa        setosa            setosa
2         setosa        setosa            setosa
127    virginica     virginica         virginica
44        setosa        setosa            setosa
125    virginica     virginica         virginica

In [21]:
print("Logisticregression precision:\n")
print(precision_score(y_test,y_pred1,average=None))

Logisticregression precision:

[1.         1.         0.88888889]

In [22]:
print("DecisionTree classififer precision:\n")

print(precision_score(y_test,y_pred2,average=None))

DecisionTree classififer precision:

[1.    0.875 0.875]

In [23]:
print("LogisticRegression recall :\n")
print(recall_score(y_test,y_pred1,average=None))

LogisticRegression recall :

[1.    0.875 1.   ]