In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("concrete_data.csv")

In [3]:
data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [5]:
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [10]:
X=data.iloc[:,0:7]
y=data.iloc[:,-1]

In [11]:
y

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
X_train.shape

(824, 7)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
clf=LinearRegression()
clf.fit(X_train,y_train)

LinearRegression()

In [19]:
y_pred=clf.predict(X_test)

In [23]:
from sklearn.metrics import r2_score

In [26]:
r2_score(y_test,y_pred)

0.41699619824941714

In [27]:
# #cross val score
# lr = LinearRegression()
# np.mean(cross_val_score(lr,X,y,scoring='r2'))

In [28]:
import numpy as np
from sklearn.model_selection import cross_val_score

In [29]:
lr=LinearRegression()
np.mean(cross_val_score(lr,X,y,scoring='r2'))

0.1674030628477282

In [30]:
# pt = PowerTransformer(method='box-cox')

# X_train_transformed = pt.fit_transform(X_train+0.000001)
# X_test_transformed = pt.transform(X_test+0.000001)

# pd.DataFrame({'cols':X_train.columns,'box_cox_lambdas':pt.lambdas_})

In [31]:
from sklearn.preprocessing import PowerTransformer

In [32]:
pt=PowerTransformer(method='box-cox')

In [34]:
X_train_transform=pt.fit_transform(X_train+0.00001)

In [35]:
X_test_transform=pt.fit_transform(X_test+0.000001)

In [37]:
pd.DataFrame({'cols':X_train.columns,'box_cox_lamdas':pt.lambdas_})

                 cols  box_cox_lamdas
0              Cement        0.215602
1  Blast Furnace Slag        0.025996
2             Fly Ash       -0.006544
3               Water        0.959062
4    Superplasticizer        0.103365
5    Coarse Aggregate        1.192492
6      Fine Aggregate        1.973781

In [38]:
# lr = LinearRegression()
# lr.fit(X_train_transformed,y_train)

# y_pred2 = lr.predict(X_test_transformed)

# r2_score(y_test,y_pred2)

In [39]:
lr=LinearRegression()
lr.fit(X_train_transform,y_train)
y_pred2=lr.predict(X_test_transform)
r2_score(y_test,y_pred2)

0.41259401994166334

In [41]:
#using cross val score

In [44]:
pt=PowerTransformer(method='box-cox')
X_transform=pt.fit_transform(X+0.00001)
lr=LinearRegression()
np.mean(cross_val_score(lr,X_transform,y,scoring='r2'))

0.2277535343388351

# Apply yeo-johnson transform

In [55]:
pt1=PowerTransformer()
X_train_transform2=pt1.fit_transform(X_train)
X_test_transform2=pt1.fit_transform(X_test)
lr2=LinearRegression()
lr2.fit(X_train_transform2,y_train)
y_pred3=lr2.predict(X_test_transform2)

In [56]:
print(r2_score(y_test,y_pred3))

0.4237166198868818

In [57]:
pd.DataFrame({'cols':X_train.columns,'Yeo_Johnson_lambdas':pt1.lambdas_})

                 cols  Yeo_Johnson_lambdas
0              Cement             0.213025
1  Blast Furnace Slag             0.020476
2             Fly Ash            -0.038218
3               Water             0.958936
4    Superplasticizer             0.304951
5    Coarse Aggregate             1.192751
6      Fine Aggregate             1.975085

# cross val score

In [58]:
# pt = PowerTransformer()
# X_transformed2 = pt.fit_transform(X)

# lr = LinearRegression()
# np.mean(cross_val_score(lr,X_transformed2,y,scoring='r2'))

In [59]:
pt2=PowerTransformer()
X_trainsform3=pt2.fit_transform(X)

In [60]:
lr3=LinearRegression()
np.mean(cross_val_score(lr3,X_trainsform3,y,scoring='r2'))

0.22208540195123277