In [1]:
import pandas as pd
import seaborn as sns

In [3]:
data=sns.load_dataset('iris')

In [4]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
encoder=LabelEncoder()

In [7]:
data['species']=encoder.fit_transform(data['species'])

In [8]:
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [11]:
X=data.iloc[:,0:-1]
y=data.iloc[:,-1]

In [12]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [15]:
from sklearn.linear_model import LogisticRegression

In [17]:
model=LogisticRegression(multi_class='multinomial')

In [18]:
model.fit(X_train,y_train)

LogisticRegression(multi_class='multinomial')

In [19]:
y_pred=model.predict(X_test)

In [20]:
from sklearn.metrics import confusion_matrix

In [21]:
from sklearn.metrics import accuracy_score,r2_score

In [22]:
accuracy_score(y_test,y_pred)

0.9666666666666667

In [23]:
r2_score(y_test,y_pred)

0.951923076923077

In [25]:
pd.DataFrame(confusion_matrix(y_test,y_pred))

    0  1  2
0  14  0  0
1   0  7  1
2   0  0  8

In [26]:
import numpy as np

In [27]:
query=np.array([[5.1,3.5,1.4,0.2]])

In [28]:
model.predict_proba(query)

array([[9.74503391e-01, 2.54965500e-02, 5.87248907e-08]])

In [29]:
model.predict(query)

array([0])